<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Results baby</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>
<body>

<h1 th:text="'Hello M. ' + ${name}"/>

<table>
    <thead>
    <tr>
        <th> First name </th>
        <th> Last name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="2"> No People Available </td>
    </tr>
    <tr th:each="p : ${people}">
        <td><span th:text="${p.firstName}"> First name </span></td>
        <td><span th:text="${p.lastName}"> Last name </span></td>
    </tr>
    </tbody>
</table>

<button type="button" th:onclick="alertTest()">Show Alert</button>

<script type="text/javascript" th:src="@{/scripts/index.js}"></script>
</body>
</html>